################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GestorStock.WebApp/obj
*.suo
**/bin
**/obj
.vs/
