USE [master]
GO
/****** Object:  Database [GestorStock]    Script Date: 11/06/2024 20:54:35 ******/
CREATE DATABASE [GestorStock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrearTablaJedis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CrearTablaJedis.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CrearTablaJedis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CrearTablaJedis_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestorStock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestorStock]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 11/06/2024 20:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaID] [int] NOT NULL,
	[Nombre] [text] NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 11/06/2024 20:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[CompraId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NULL,
	[Cantidad] [int] NULL,
	[Precio] [decimal](18, 0) NULL,
	[UsuarioId] [int] NULL,
	[FechaCompra] [datetime] NULL,
 CONSTRAINT [PK_Compra] PRIMARY KEY CLUSTERED 
(
	[CompraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 11/06/2024 20:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ProductoID] [int] NOT NULL,
	[Nombre] [text] NULL,
	[Categoria] [int] NULL,
	[Habilitado] [bit] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/06/2024 20:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Hash] [varbinary](256) NULL,
	[Salt] [varbinary](256) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 11/06/2024 20:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[VentaId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[Precio] [decimal](18, 0) NULL,
	[UsuarioId] [int] NULL,
	[FechaVenta] [datetime] NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categoria] ([CategoriaID], [Nombre]) VALUES (1, N'Procesadores')
INSERT [dbo].[Categoria] ([CategoriaID], [Nombre]) VALUES (2, N'Memorias')
INSERT [dbo].[Categoria] ([CategoriaID], [Nombre]) VALUES (3, N'Fuentes')
GO
INSERT [dbo].[Producto] ([ProductoID], [Nombre], [Categoria], [Habilitado]) VALUES (1, N'I3 10105f', 1, 1)
INSERT [dbo].[Producto] ([ProductoID], [Nombre], [Categoria], [Habilitado]) VALUES (2, N'I5 10400', 1, 1)
INSERT [dbo].[Producto] ([ProductoID], [Nombre], [Categoria], [Habilitado]) VALUES (3, N'Ryzen 5 5600G', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [Nombre], [Hash], [Salt]) VALUES (1, N'Matias', 0xF100CB00C700090081002900000061007600230018005F0015005F00E100A1000B00C602ED004900EA00B700F500CE0055005E00CB00AC20780018207D004800, 0x31003100450036004500)
INSERT [dbo].[Usuario] ([UsuarioID], [Nombre], [Hash], [Salt]) VALUES (2, N'Giovanni', 0x4E00B10055001F007F000800440048001C00CB007900EE00F7004A007A0072002700F50004006D002020B90011004B008100E00026002100AC2021201C202100, 0x34003900310031004200)
INSERT [dbo].[Usuario] ([UsuarioID], [Nombre], [Hash], [Salt]) VALUES (3, N'Alejandro', 0xEF003E005E00182022205301220033008D0031000900CC00D300B60056005200E40036007000A900EF0020001900FB004000A500BB005B003500ED001400B300, 0x34003700390036003800)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
