@using Entities

@model Compra


@{
    ViewData["Title"] = "Cargar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cargar</h1>
<div class="card">
    <div class="card-header">
        Nueva Compra
    </div>
    <div class="card-body">
        <form asp-action="Cargar" asp-controller="Compra" method="post">
            <div class="mb-3">
                <input asp-for="CompraId" type="hidden" class="form-control" id="inputId">
            </div>
            <div class="mb-3 form-group">
                <label>Categoría</label>
                
                <select class="form-select" asp-items= "@(new SelectList(ViewBag.Categorias))" name="categoryName">
                    <option selected>Seleccione Categoría</option>
                </select>
                

                @Html.DropDownList("ProductoId",
                                    new SelectList(ViewBag.Productos,"ProductoId","Nombre"),
                                    "Select Producto",
                                    new { @class = "form-select" })
                
                <input asp-for="ProductoId" type="number" class="form-control" id="inputProducto">
            </div>
            <div class="mb-3">
                <label class="form-label">Cantidad</label>
                <input asp-for="Cantidad" type="number" class="form-control" id="inputCantidad">
            </div>
            <div class="mb-3">
                <label for="inputUsuario" class="form-label">Usuario</label>
                <input asp-for="UsuarioId" type="text" class="form-control" id="inputUsuario">
            </div>
            <div class="mb-3">
                <label for="inputDate" class="form-label">Fecha de Compra</label>
                <input asp-for="FechaCompra" type="date" class="form-control" id="inputDate">
                @Html.ValidationMessageFor(model => model.FechaCompra, null, new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" asp-asp-controller="Compra">Regresar a la Lista de Compras</a>
        </form>
    </div>
</div>
